@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;600&family=Commissioner:wght@400;500;700&family=DM+Sans:wght@400;700&family=DM+Serif+Display&family=Epilogue:wght@500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@400;700&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@600;800&family=Montserrat:wght@500;700&family=Overpass:wght@300;600&family=Poppins:wght@400;500;600;700&family=Rubik:wght@300;400;500&display=swap');


///  ### Primary
$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);

$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear gradient hsl(37, 97%, 70%) hsl(329, 70%, 58%);
$YouTube: hsl(348, 97%, 39%);


:root {
    --background: hsl(230, 17%, 14%); 
    --card-bg: hsl(228, 28%, 20%);
    --text-para: hsl(228, 34%, 66%);
    --text-heading: rgb(255, 255, 255);
}

:root .light-theme {
    --background: hsl(0, 0%, 100%); 
    --card-bg: hsl(227, 47%, 96%);
    --text-para: hsl(228, 12%, 44%);
    --text-heading: hsl(230, 17%, 14%);
}


// // #### Dark Theme
// $VeryDarkBlue : hsl(230, 17%, 14%);  //(BG)
// $DarkDesaturatedBlue: hsl(228, 28%, 20%); //(Card BG)
// $DesaturatedBlue: hsl(228, 34%, 66%); //(Text)


// // #### Light Theme
// $White : hsl(0, 0%, 100%);  //(BG)
// $LightGrayishBlue : hsl(227, 47%, 96%); //(Card BG)
// $DarkGrayishBlue : hsl(228, 12%, 44%); //(Text)
// $VeryDarkBlue : hsl(230, 17%, 14%); //(Text)





//  #### Light Theme
$Togglelight: hsl(230, 22%, 74%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

//   Font size (Overview Card Headings): 14px

@media only screen and (max-width: 375px) {

    .container {
        padding: 40px 25px;
        background-color: var(--background);
    }

    .header {

        .title {

            h1 {
                font-size: 24px;
                margin-bottom: 7px;
                color: var(--text-heading);
            }
            p {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 35px;
                color: var(--text-para);
            }
        }

        .dark-mode {
            display: flex;
            padding-top:35px ;
            align-items: center;
            margin-bottom: 40px;
            justify-content: space-between;
            border-top: 1px solid var(--text-para);

            p {
                font-size: 14px;
                font-weight: 600;
                color: var(--text-para);
                
            }

            .checkbox {
                display: none;
            }
        
            .toggle-button {
                width: 50px;
                height: 25px;
                border-radius: 100px;
                display: flex;
                padding: 5px;
                align-items: center;
                justify-content: space-between;
                background-image: linear-gradient(to right , hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
            }

            .toggle-button:hover {
                cursor: pointer;
            }

            .toggle-button.light {
                background-color: #fff;
            }
        
            .toggle-round {
                width: 20px;
                height: 20px;
                border-radius: 100px;
                background-color: var(--background);
            }


            .checkbox:checked + .toggle-button .toggle-round {
                transform: translateX(21px);
            }
        }
    }

    .main {

        text-align: center;

        .facebook , .twitter , .instagram , .youtube {
            padding-bottom: 30px;
            border-radius: 10px;
            margin-bottom: 24px;
            overflow: hidden;
            background-color: var(--card-bg);

            .name {
                width: 325px;
                display: flex;
                margin-bottom: 20px;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 10px;
                    color: var(--text-para);
                }

            }

            .followers {
                margin-bottom: 20px;
                color: var(--text-heading);

                h1 {
                    font-size: 55px;
                }
                p {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 4px;
                    color: var(--text-para);
                    text-transform: uppercase;
                }
            }

            .today {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 10px;
                }
                p {
                    font-size: 11px;
                    font-weight: 600;
                    margin-left: 5px;
                    color: $LimeGreen;
                }
            }
        }

        .facebook:hover , .twitter:hover , .instagram:hover , .youtube:hover {
            cursor: pointer;
            background-color: rgb(50, 53, 75);
        }

        .twitter , .instagram {

            .today p {
                color: $LimeGreen;
            }
        }

        .youtube {
            margin-bottom: 40px;

            .today p {
                color: $BrightRed;
            }
        }

        .linear-gradient-facebook {
            height: 5px;
            margin-bottom: 30px;
            background-color: $Facebook;
        }

        .linear-gradient-twitter {
            height: 5px;
            margin-bottom: 30px;
            background-color: $Twitter;
        }

        .linear-gradient-instagram {
            height: 5px;
            margin-bottom: 30px;
            background-image: linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
        }

        .linear-gradient-youtube {
            height: 5px;
            margin-bottom: 30px;
            background-color: $YouTube;
        }

        
    }

    .overview-title {
        margin-bottom: 25px;
        color: var(--text-heading);
    }

    .overview {

        .pageview-facebook-container {

            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .like-facebook-container {

            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $BrightRed;
                        margin-left: 3px;
                    }
                }
            }
        }

        .like-instagram-container {

            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .profileview-instagram-container {

            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .retweet-twitter-container {

            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .like-twitter-container {

            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .like-youtube-container {

            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $BrightRed;
                        margin-left: 3px;
                    }
                }
            }
        }

        .totalview-youtube-container {

            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $BrightRed;
                        margin-left: 3px;
                    }
                }
            }
        }

        .pageview-facebook-container:hover ,.like-facebook-container:hover,.like-instagram-container:hover, .profileview-instagram-container:hover, .retweet-twitter-container:hover , .like-twitter-container:hover ,  .like-youtube-container:hover,.totalview-youtube-container:hover {
            cursor: pointer;
            background-color: rgb(50, 53, 75);
        }

    }


}


@media only screen and (min-width: 1440px) {
    
    .container {
        padding: 40px 150px;
        background-color: var(--background);
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        justify-content: space-between;

        .title {

            h1 {
                color: var(--text-heading);
            }

            p {
                font-weight: 600;
                margin: 7px 0 20px 0;
                color: var(--text-para);
            }
        }

        .dark-mode {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-size: 14px;
                font-weight: 600;
                color: var(--text-para);
            }

            .checkbox {
                display: none;
            }
        
            .toggle-button {
                width: 50px;
                height: 25px;
                border-radius: 100px;
                display: flex;
                padding: 5px;
                margin-left: 20px;
                align-items: center;
                justify-content: space-between;
                background-image: linear-gradient(to right , hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
            }

            .toggle-button:hover {
                cursor: pointer;
            }
        
            .toggle-round {
                width: 20px;
                height: 20px;
                border-radius: 100px;
                background-color: var(--background);
            }
        
            .checkbox:checked + .toggle-button .toggle-round {
                transform: translateX(21px);
            }
        }
    }

    .main {
        margin-bottom: 45px;
        text-align: center;
        display: flex;
        justify-content: space-between;

        .facebook , .twitter , .instagram , .youtube {
            width: 265px;
            padding-bottom: 30px;
            border-radius: 10px;
            overflow: hidden;
            background-color: var(--card-bg);

            .name {
                display: flex;
                margin-bottom: 20px;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 10px;
                    color: var(--text-para);
                }

            }

            .followers {
                margin-bottom: 20px;

                h1 {
                    font-size: 55px;
                    color: var(--text-heading);
                }
                p {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 4px;
                    color: var(--text-para);
                    text-transform: uppercase;
                }
            }

            .today {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 10px;
                }
                p {
                    font-size: 11px;
                    font-weight: 600;
                    margin-left: 5px;
                    color: $LimeGreen;
                }
            }
        }

        .facebook:hover , .twitter:hover , .instagram:hover , .youtube:hover {
            cursor: pointer;
            background-color: rgb(50, 53, 75);
        }

        .twitter , .instagram {

            .today p {
                color: $LimeGreen;
            }
        }

        .youtube {
            margin-right: 0;

            .today p {
                color: $BrightRed;
            }
        }

        .linear-gradient-facebook {
            height: 5px;
            margin-bottom: 30px;
            background-color: $Facebook;
        }

        .linear-gradient-twitter {
            height: 5px;
            margin-bottom: 30px;
            background-color: $Twitter;
        }

        .linear-gradient-instagram {
            height: 5px;
            margin-bottom: 30px;
            background-image: linear-gradient(to right, hsl(37, 97%, 70%) , hsl(329, 70%, 58%));
        }

        .linear-gradient-youtube {
            height: 5px;
            margin-bottom: 30px;
            background-color: $YouTube;
        }
    }

    .overview-title {
        margin-bottom: 25px;
        color: var(--text-heading);
    }

    .overview {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        .pageview-facebook-container {
            width: 265px;
            margin-right: 25px;
            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .like-facebook-container {
            width: 265px;
            margin-right: 25px;
            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $BrightRed;
                        margin-left: 3px;
                    }
                }
            }
        }

        .like-instagram-container {
            width: 265px;
            margin-right: 25px;
            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .profileview-instagram-container {
            width: 265px;
            flex-grow: 1;
            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .retweet-twitter-container {
            width: 265px;
            margin-right: 25px;
            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .like-twitter-container {
            width: 265px;
            margin-right: 25px;
            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $LimeGreen;
                        margin-left: 3px;
                    }
                }
            }
        }

        .like-youtube-container {
            width: 265px;
            margin-right: 25px;
            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $BrightRed;
                        margin-left: 3px;
                    }
                }
            }
        }

        .totalview-youtube-container {
            flex-grow: 1;
            padding: 22px 30px;
            border-radius: 7px;
            margin-bottom: 15px;
            background-color: var(--card-bg);

            .top {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--text-para);
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    font-size: 30px;
                    color: var(--text-heading);
                }

                div {
                    display: flex;
                    align-items: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $BrightRed;
                        margin-left: 3px;
                    }
                }
            }
        }

        .pageview-facebook-container:hover ,.like-facebook-container:hover,.like-instagram-container:hover, .profileview-instagram-container:hover, .retweet-twitter-container:hover , .like-twitter-container:hover ,  .like-youtube-container:hover,.totalview-youtube-container:hover {
            cursor: pointer;
            background-color: rgb(50, 53, 75);
        }

    }

}